/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

h1 {
    position: relative;
    top: -80px;
}
<<<<<<< HEAD
#topthing {
=======

h5 {
>>>>>>> 5fe15a8524f4603ca974435f05d9f5dcf4b52ac0
    position: relative;
    top: -120px;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

html,
body {
}

.wrapper {
    box-sizing: border-box;
    position: relative;
    padding-bottom: 1em;
    /* Height of footer */
    min-height: 100%;
}

header {
    background-color: #cff;
}

.buttonContainer {
    text-align: center;
<<<<<<< HEAD
    z-index: 1;
    position: relative;
    top: 50%;
}

.buttonContainer {
/*    position: relative;*/
    text-align: center;
=======
}

#getspot {
    text-align: center;
    z-index: 1;
    position: relative;
    top: 50%;
>>>>>>> 5fe15a8524f4603ca974435f05d9f5dcf4b52ac0
}

:focus {
    outline: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    background-color: #000;
<<<<<<< HEAD
}

#info {
    text-align: center;
    padding-top: 3%;
}
=======
}
>>>>>>> 5fe15a8524f4603ca974435f05d9f5dcf4b52ac0
